.cursos__curso--content-wrapper {
	.cursos__curso--title {
		font-size: 1.7rem;
	}
}
.cursos {
	//background-color: white;

	&__title {
		color: #101010;
		font-size: 5.084rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-align: center;
		@apply font-philosopher;
	}

	&__wrapper {
		align-content: center;
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 2.4rem;
		justify-content: center;
	}

	&__curso {
		background-color: white;
		color: black;
		//min-height: 51rem;
		position: relative;
		text-align: left;
		transition: all 0.3s;
		width: 31%;
		&-image-wrapper {
			img {
				height: auto;
				object-fit: cover;
				width: 100%;
			}
		}

		&--content-wrapper {
			align-items: flex-start;
			border: solid #d0d0d0;
			border-width: 0 1px 1px 1px;
			display: flex;
			flex-direction: column;
			gap: 2.1rem;
			padding: 1.5rem;
			a {
				display: flex;
				flex-direction: column;
				gap: 2.1rem;
			}
		}

		&--info {
			align-items: center;
			display: flex;
			flex-direction: row;
			gap: 1.2rem;
		}
		&--location {
			align-items: center;
			background: rgba(97, 255, 0, 0.35);
			color: #347b09;
			display: flex;
			font-family: "Inter" sans-serif;
			font-size: 1.2rem;
			font-style: normal;
			font-weight: 600;
			gap: 1rem;
			justify-content: center;
			line-height: 150%;
			padding: 0.4rem 0.6rem;
		}
		&--date {
			color: #969696;
			font-family: "Inter" sans-serif;
			font-size: 1.2rem;
			font-style: normal;
			font-weight: 500;
			line-height: 150%;
		}

		&:hover {
		}
		&--title {
			font-size: 2.2rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			@apply font-philosopher;
		}
		.cursos__curso--btn {
			align-items: center;
			background-color: #e74e1c;
			color: #fff;
			display: flex;
			font-family: "Inter", sans-serif;
			font-size: 1.2rem;
			font-style: normal;
			font-weight: 600;
			gap: 1rem;
			justify-content: center;
			line-height: 150%;
			padding: 0.8rem 1.6rem;
			transition: all 0.3s;
			&:hover {
				background: #c83c0d;
			}
		}
		&--content {
			font-size: 1.2rem;
		}
	}
}
@media (max-width: 500px) {
	.cursos {
		&__title--back {
			font-size: 6rem;
			top: 2%;
		}
	}
}
.cursos-page {
	background-color: #101010;
}

@media (max-width: 1200px) {
	.cursos {
		&__curso {
			width: 50%;
		}
	}
}
@media (max-width: 768px) {
	.cursos {
		&__wrapper {
			flex-direction: column;
		}
		&__curso {
			width: 100%;
		}
	}
}
