.instrutores {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 4px solid #e74e1c;
	border-top: 4px solid #e74e1c;
	min-height: 60rem;

	&__wrapper {
		min-height: 60rem;
	}

	.slick-slide {
		display: block;
		min-height: 60rem;
		position: relative;
	}
	.instrutor-img {
		bottom: 0;
		position: absolute;
		right: 50%;
		transform: translateX(calc(50% + 450px));
		width: 38rem;
	}

	.instrutor {
		align-items: flex-start;
		background-color: white;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		justify-content: center;
		left: 50%;
		padding: 3.3rem 19rem 3.3rem 5rem;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 90rem;
		.instrutor-title {
			color: #000;
			font-size: 4rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			@apply font-philosopher;
		}
		.instrutor-description {
			color: #242424;
			font-family: "Poppins", sans-serif;
			font-size: 1.6rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
		.instrutor-btn {
			align-items: center;
			background-color: #e74e1c;
			color: #fff;
			display: flex;
			font-family: "Inter", sans-serif;
			font-size: 1.5rem;
			font-style: normal;
			font-weight: 600;
			gap: 1rem;
			justify-content: center;
			line-height: 150%;
			padding: 0.8rem 1.6rem;
			transition: all 0.3s;
			&:hover {
				background: #c83c0d;
			}
		}
	}
	.instrutores-carousel {
		.right-arrow {
			right: 3rem;
		}
		.left-arrow {
			left: 3rem;
		}
	}
}

@media (max-width: 1300px) {
	.instrutores {
		.instrutor {
			padding: 3.3rem 21rem 3.3rem 5rem;
			width: 60rem;
		}
		.instrutor-img {
			bottom: 0;
			transform: translateX(calc(50% + 280px));
			width: 35rem;
		}
	}
}
@media (max-width: 1000px) {
	.instrutores {
		.instrutor {
			padding: 3.3rem 5rem 3.3rem 5rem;
			width: 60rem;
		}
		.instrutor-img {
			display: none;
		}
	}
}
@media (max-width: 768px) {
	.instrutores {
		min-height: 90rem;

		&__wrapper {
			min-height: 90rem;
		}
		.slick-slide {
			min-height: 90rem;
		}
		.instrutor {
			padding: 3.3rem 3rem 3.3rem 3rem;
			width: 90%;
		}
		.instrutores-carousel {
			.right-arrow {
				right: 0;
			}
			.left-arrow {
				left: 0;
			}
		}
	}
}

.instrutores-page {
	background-color: #101010;
}
.slick-dots {
	align-items: center;
	bottom: 3rem;
	display: flex;
	gap: 1rem;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	li {
		button {
			background-color: white;
			border-radius: 100%;
			color: transparent;
			height: 2.1rem;
			transition: all 0.3s;
			width: 2.1rem;
		}
		&.slick-active button {
			background-color: #e74e1c;
		}
	}
}

.instrutores-archive {
	border: 1px solid #414141;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	flex-wrap: nowrap;
	font-family: "Poppins", sans-serif;
	gap: 1.7rem 2.6rem;
	justify-content: center;
	.instrutores-archive__image-wrapper {
		padding-left: 3.3rem;
		position: relative;
		width: 24%;
		img {
			bottom: 0;
			position: absolute;
			width: 100%;
		}
	}
	.instrutores-archive__content-wrapper {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		font-family: "Poppins", sans-serif;
		padding: 3.3rem;
		width: 76%;
	}
	.instrutores-archive__title {
		color: #e74e1c;
		font-family: inherit;
		font-size: 4.5rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
	.instrutores-archive__description {
		color: #e8e8e8;
		font-size: 1.6rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	.instrutores-archive__btn {
		align-items: center;
		background-color: #e74e1c;
		color: #fff;
		display: flex;
		font-family: "Inter", sans-serif;
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 600;
		gap: 1rem;
		justify-content: center;
		line-height: 150%;
		padding: 0.8rem 1.6rem;
		transition: all 0.3s;
		&:hover {
			background: #c83c0d;
		}
	}
}
@media (max-width: 1000px) {
	.instrutores-archive {
		.instrutores-archive__image-wrapper {
			display: none;
		}
		.instrutores-archive__content-wrapper {
			width: 100%;
		}
	}
}
.instrutores-archive-title {
	color: #e74e1c;
	font-size: 5rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	//margin-bottom: 10rem;
	@apply font-philosopher;
}

.wkode-single-instrutores-template__article {
	&.instrutores {
		border: 0;
	}
}
