footer.footer {
	background: #151515;
	color: white;
	position: relative;
	svg {
		position: absolute;
		top: 0;
		transform: translateY(-77%);
		width: 100%;
		path {
			width: 100%;
		}
	}
	.footer-content {
		padding: 3rem 0;
	}
}
.footer-text {
	color: inherit;
	font-family: "Poppins", sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: 0.3rem;
	line-height: 2.4rem;
	margin-bottom: 1rem;
}
.clip-footer-home {
	/*  clip-path: polygon(0 33%, 100% 0, 100% 100%, 0% 100%); */
}

div.map-responsive > iframe {
	min-width: 100%;
}
@media (max-width: 500px) {
	.footer-text {
		font-size: 3.3vw;
	}
}

@media (max-width: 1200px) {
	footer.footer {
		svg {
			transform: translateY(-67%);
		}
	}
}

@media (max-width: 768px) {
	footer.footer {
		svg {
			transform: translateY(-54%);
		}
	}
}
