@use "base/tailwind";
@use "base/fonts";
@use "base/animations";

@use "abstracts/variables";

@use "components/search-overlay";
@use "components/titles";
@use "components/btn-nav";
@use "components/btn-wk";
@use "components/card";
@use "components/product-slider";
@use "components/product-card";
@use "components/hr";
@use "components/pagination";
@use "components/card-servicos";

@use "layout/header";
@use "layout/footer";

@use "pages/home/slider";
@use "pages/home/bem-vindo";
@use "pages/home/depoimentos";
@use "pages/home/servicos";
@use "pages/home/cursos";
@use "pages/home/instrutores";
@use "pages/home/marcas";
@use "pages/home/testimonials";
@use "pages/servicossingle/layout";
@use "pages/contato";
@use "pages/single/calendario";
@use "pages/single/instructor";

@use "../../slick/slick.scss";

*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
/* ======================================== */
/* ================scroolbar=================== */
/* ======================================== */
/* width */
::-webkit-scrollbar {
	width: 0.7vw;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #101010;
	border-radius: 2px;
	transition: background-color 0.8s;
}
::-webkit-scrollbar-corner {
	border-radius: 2px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	--tw-bg-opacity: 1;
	background-color: #101010;
}
/* ======================================== */
/* ================scroolbar=================== */
/* ======================================== */
html {
	/* this defines what one rem is */
	font-size: 62.5%;
}

/* a:hover {
    color: inherit !important;
    text-decoration: none !important;
  } */

body {
	background-color: #101010;
	box-sizing: border-box; /* Padding and Margin are no longer part of the width and height of the element */
	min-height: 100vh;
	overflow-x: hidden;
}
nav {
	font-family: "poppins";
}
.wraper {
	overflow-x: hidden;
}

//script on plugin
#viewerContainer {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}
#viewerContainer .textLayer {
	user-select: none !important;
}
#viewerContainer * {
	cursor: default;
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}
#documentPropertiesOverlay {
	display: none !important;
}
#documentProperties {
	display: none !important;
}

.text-basic-from-advanced {
	align-items: center;
	background: #141414;
	border-bottom: 6px solid #e74e1c;
	color: #e74e1c;
	display: flex;
	font-size: 4rem;
	font-style: normal;
	font-weight: 700;
	height: 12rem;
	justify-content: center;
	line-height: normal;
	text-align: center;

	@apply font-philosopher;
	span {
		color: #e74e1c;
	}
	&__container {
		align-content: center;
		align-items: center;
		color: inherit;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	@media (max-width: 768px) {
		font-size: 2.1rem;
	}
}

.blink {
	animation: blink 0.7s infinite;
}
@keyframes blink {
	to {
		opacity: 0;
	}
}

.cursos-about-us {
	@apply font-philosopher;
	background-attachment: fixed;
	background-blend-mode: screen, normal;
	background-color: #141414;
	background-position: center left;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 6rem 12rem;
	.image-wrapper {
		align-items: center;
		display: flex;
		img {
			filter: drop-shadow(0px 0px 65.9px rgba(0, 0, 0, 0.7));
		}
	}
	.cursos-about-us__title {
		color: #fff;
		font-family: inherit;
		font-size: 6.9397rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		span {
			color: #e74e1c;
		}
	}
	p {
		color: #f7f7f7;
		font-size: 1.6rem;
		font-style: normal;
		font-weight: 400;
		line-height: 179%;
		@apply font-poppins;
	}
	.wk-btn {
		align-items: center;
		background: #e74e1c;
		color: #101010;
		display: flex;
		font-family: "Inter";
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 600;
		gap: 1.1rem;
		justify-content: center;
		line-height: 150%;
		margin-top: 2.6rem;
		padding: 1.1rem 2.1rem;
		transition: all 0.3s;
		&:hover {
			background: #c83c0d;
		}
	}
	.content-wrapper {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
		justify-content: center;
	}
	.cursos-about-us__numbers {
		align-items: stretch;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 2.7rem;
		justify-content: flex-start;
		margin-top: 8rem;
		.number-card {
			align-items: center;
			backdrop-filter: blur(2px);
			background: rgba(60, 60, 60, 0.42);
			color: #fff;
			display: flex;
			font-size: 1.8175rem;
			font-style: normal;
			font-weight: 400;
			gap: 1rem;
			justify-content: center;
			line-height: 179%;
			padding: 0.8rem 1.2rem;
			@apply font-poppins;
			h2 {
				font-family: inherit;
			}
		}
	}
	@media (max-width: 1024px) {
		padding: 6rem 0;
		.cursos-about-us__numbers {
			align-items: flex-start;
			flex-direction: column;
		}
	}
	&.contact {
		color: #101010;
		padding-bottom: 12rem;
		.contact-title {
			font-size: 5.084rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			@apply font-philosopher;
		}
		.wpforms-container {
			width: 100%;
			.wpforms-field {
				label,
				input,
				textarea {
					color: #101010;
					font-family: "Hind Siliguri";
					font-size: 1.4rem;
					font-style: normal;
					font-weight: 300;
					line-height: normal;
				}
			}
		}
	}
}
